@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-Extralight.woff2') format('woff2'),
		url('./fonts/GeneralSans-Extralight.woff') format('woff'),
		url('./fonts/GeneralSans-Extralight.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-ExtralightItalic.woff2') format('woff2'),
		url('./fonts/GeneralSans-ExtralightItalic.woff') format('woff'),
		url('./fonts/GeneralSans-ExtralightItalic.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-Light.woff2') format('woff2'),
		url('./fonts/GeneralSans-Light.woff') format('woff'),
		url('./fonts/GeneralSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-LightItalic.woff2') format('woff2'),
		url('./fonts/GeneralSans-LightItalic.woff') format('woff'),
		url('./fonts/GeneralSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-Regular.woff2') format('woff2'),
		url('./fonts/GeneralSans-Regular.woff') format('woff'),
		url('./fonts/GeneralSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-Italic.woff2') format('woff2'),
		url('./fonts/GeneralSans-Italic.woff') format('woff'),
		url('./fonts/GeneralSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-Medium.woff2') format('woff2'),
		url('./fonts/GeneralSans-Medium.woff') format('woff'),
		url('./fonts/GeneralSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-MediumItalic.woff2') format('woff2'),
		url('./fonts/GeneralSans-MediumItalic.woff') format('woff'),
		url('./fonts/GeneralSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-Semibold.woff2') format('woff2'),
		url('./fonts/GeneralSans-Semibold.woff') format('woff'),
		url('./fonts/GeneralSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-SemiboldItalic.woff2') format('woff2'),
		url('./fonts/GeneralSans-SemiboldItalic.woff') format('woff'),
		url('./fonts/GeneralSans-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-Bold.woff2') format('woff2'),
		url('./fonts/GeneralSans-Bold.woff') format('woff'),
		url('./fonts/GeneralSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	src:
		url('./fonts/GeneralSans-BoldItalic.woff2') format('woff2'),
		url('./fonts/GeneralSans-BoldItalic.woff') format('woff'),
		url('./fonts/GeneralSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-Thin.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-Thin.woff') format('woff'),
		url('../fonts/JetBrainsMono-Thin.ttf') format('truetype');
	font-weight: 100;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-ThinItalic.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-ThinItalic.woff') format('woff'),
		url('../fonts/JetBrainsMono-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-ExtraLight.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-ExtraLight.woff') format('woff'),
		url('../fonts/JetBrainsMono-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-ExtraLightItalic.woff') format('woff'),
		url('../fonts/JetBrainsMono-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-Light.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-Light.woff') format('woff'),
		url('../fonts/JetBrainsMono-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-LightItalic.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-LightItalic.woff') format('woff'),
		url('../fonts/JetBrainsMono-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-Regular.woff') format('woff'),
		url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-Italic.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-Italic.woff') format('woff'),
		url('../fonts/JetBrainsMono-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-Medium.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-Medium.woff') format('woff'),
		url('../fonts/JetBrainsMono-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-MediumItalic.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-MediumItalic.woff') format('woff'),
		url('../fonts/JetBrainsMono-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-SemiBold.woff') format('woff'),
		url('../fonts/JetBrainsMono-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-SemiBoldItalic.woff') format('woff'),
		url('../fonts/JetBrainsMono-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-Bold.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-Bold.woff') format('woff'),
		url('../fonts/JetBrainsMono-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-BoldItalic.woff') format('woff'),
		url('../fonts/JetBrainsMono-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-ExtraBold.woff') format('woff'),
		url('../fonts/JetBrainsMono-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrainsMono';
	src:
		url('../fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
		url('../fonts/JetBrainsMono-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
	font-style: italic;
}

@layer base {
	:root {
		--font-sans: 'GeneralSans';
		--font-mono: 'JetBrainsMono';

		--red: 350 88% 58%;
		--red-foreground: 88 88% 95%;

		--pink: 315 87% 67%;
		--pink-foreground: 315 87% 95%;

		--orange: 19 87% 61%;
		--orange-foreground: 19 87% 95%;

		--yellow: 45 86% 56%;
		--yellow-foreground: 45 86% 95%;

		--green: 162 57% 48%;
		--green-foreground: 162 57% 95%;

		--lime: 87 69% 56%;
		--lime-foreground: 87 69% 95%;

		--blue: 219 92% 58%;
		--blue-foreground: 219 92% 95%;

		--purple: 246 91% 62%;
		--purple-foreground: 246 91% 95%;

		--background: theme('colors.white');
		--foreground: theme('colors.zinc.950');

		--muted: 210 40% 93%;
		--muted-foreground: 215.4 16.3% 30%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--input-invalid: var(--red);

		--primary: theme('colors.zinc.950');
		--primary-foreground: theme('colors.white');

		--secondary: theme('colors.zinc.500');
		--secondary-foreground: theme('colors.white');

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: theme('colors.zinc.950');
		--foreground: theme('colors.white');

		--muted: 217.2 32.6% 12%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--input-invalid: 0 62.8% 30.6%;

		--primary: theme('colors.white');
		--primary-foreground: theme('colors.zinc.950');

		--secondary: hsl(0, 0%, 100%, 0.7);
		--secondary-foreground: theme('colors.zinc.950');

		--accent: 217.2 32.6% 10%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 60% 40%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 217.2 32.6% 60%;
	}
}
